<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="/static/css/index.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-1 bg-dark text-white vh-100 text-center h-100 position-fixed">
            <div class="mb-3 mt-3">
                <img src="/static/img/logo.png" alt="Logo" class="rounded mx-auto d-block" style="max-width: 70px;">
            </div>
            <ul class="nav flex-column"> 
                <li class="nav-item py-2 hover-sidebar">
                    <a class="nav-link text-white" href="http://127.0.0.1:8000/index">
                        <img src="/static/img/dashboard.png" alt="Logo" class="rounded mx-auto d-block"
                            style="max-width: 40px;">
                        สรุปยอด
                    </a>
                </li>
                <li class="nav-item py-2 hover-sidebar">
                    <a class="nav-link text-white" href="/mission">
                        <img src="/static/img/package.png" alt="Logo" class="rounded mx-auto d-block"
                            style="max-width: 40px;">
                        จัดการภารกิจ
                    </a>
                </li>
                <li class="nav-item py-2 hover-sidebar">

                    <a class="nav-link text-white" href="/unit">
                        <img src="/static/img/multiple-users-silhouette.png" alt="Logo" class="rounded mx-auto d-block"
                            style="max-width: 40px;">
                        จัดการกำลังพล    
                    </a>
                </li>
            </ul>
        </div>

        <!-- Main Content -->
        <div class="col-md-11 p-4 ms-auto">
            <h5 class="text-center pb-4">สรุปกำลังพล</h5>

            <div class="row g-3 justify-content-center" id="dashboard-container">
                <!-- จำนวนสินค้าที่ขาย -->
                <div class="col-md-4">
                    <div class="card bg-dashboad-1 text-white rounded-3 shadow card-custom ">
                        <p class="mb-1">จำนวนสินค้าที่ขาย</p>
                        <h4 id="product-amount">0</h4>
                        <small id="product-increase">เพิ่มขึ้น 0%</small>
                        <img src="http://127.0.0.1:8000/uploads/box.png" alt="icon">
                    </div>
                </div>

                <!-- ยอดขายรวม -->
                <div class="col-md-4">
                    <div class="card bg-dashboad-2 text-white rounded-3 shadow card-custom ">
                        <p class="mb-1">ยอดขายรวม</p>
                        <h4 id="sold-amount">฿ 0</h4>
                        <small id="sold-increase">เพิ่มขึ้น 0%</small>
                        <img src="http://127.0.0.1:8000/uploads/coin.png" alt="icon">
                    </div>
                </div>

                <!-- กำไร -->
                <div class="col-md-4">
                    <div class="card bg-dashboad-3 text-white rounded-3 shadow card-custom ">
                        <p class="mb-1">กำไร</p>
                        <h4 id="profit-amount">฿ 0</h4>
                        <small id="profit-increase">เพิ่มขึ้น 0%</small>
                        <img src="http://127.0.0.1:8000/uploads/invesment.png" alt="icon">
                    </div>
                </div>

                <!-- มูลค่าสินค้าคงเหลือ -->
                <div class="col-md-3">
                    <div class="card bg-dashboad-3 text-white rounded-3 shadow card-custom ">
                        <p class="mb-1">มูลค่าสินค้าคงเหลือ</p>
                        <h4 id="total-amount">฿ 0</h4>
                        <!-- <small id="total-increase">เพิ่มขึ้น 0%</small> -->
                        <img src="http://127.0.0.1:8000/uploads/coin.png" alt="icon">
                    </div>
                </div>

                <!-- จำนวนเงินเซ็น -->
                <div class="col-md-3">
                    <div class="card bg-dashboad-3 text-white rounded-3 shadow card-custom ">
                        <p class="mb-1">จำนวนเงินเซ็น</p>
                        <h4 id="total-nc">฿ 0</h4>
                        <!-- <small id="total-increase">เพิ่มขึ้น 0%</small> -->
                        <img src="http://127.0.0.1:8000/uploads/coin.png" alt="icon">
                    </div>
                </div>

                <!-- จำนวนเงินสด -->
                <div class="col-md-3">
                    <div class="card bg-dashboad-3 text-white rounded-3 shadow card-custom ">
                        <p class="mb-1">จำนวนเงินสด</p>
                        <h4 id="total-c">฿ 0</h4>
                        <!-- <small id="total-increase">เพิ่มขึ้น 0%</small> -->
                        <img src="http://127.0.0.1:8000/uploads/coin.png" alt="icon">
                    </div>
                </div>

                <!-- มูลค่าสินค้ารวม -->
                <div class="col-md-3">
                    <div class="card bg-dashboad-3 text-white rounded-3 shadow card-custom ">
                        <p class="mb-1">มูลค่าสินค้ารวม</p>
                        <h4 id="total-all">฿ 0</h4>
                        <!-- <small id="total-increase">เพิ่มขึ้น 0%</small> -->
                        <img src="http://127.0.0.1:8000/uploads/coin.png" alt="icon">
                    </div>
                </div>

            </div>

            <table class="table table-bordered table-striped">
                <thead class="table-primery text-center">
                    <tr>
                        <th>#</th>
                        <th>ยศ</th>
                        <th>ชื่อ</th>
                        <th>สังกัด</th>
                        <th>สถานะ</th>

                    </tr>
                </thead>
                <tbody id="unitTableBody" class="text-center">
                    <!-- Rows will be dynamically inserted here -->
                </tbody>
            </table>

            <nav>
                <ul class="pagination justify-content-center" id="pagination">
                    <!-- Pagination buttons will be dynamically inserted here -->
                </ul>
            </nav>

        </div>
    </div>

    <p id="test"></p>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/index.js"></script>
</body>

</html>