<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="/static/css/index.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    
</head>

<body class="bg-light">

    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-1 bg-dark text-white vh-100 text-center h-100 position-fixed">
            <div class="mb-3 mt-3">
                <img src="/static/img/logo.png" alt="Logo" class="rounded mx-auto d-block" style="max-width: 70px;">
                <p>Mission Force 4002</p>
            </div>
            <ul class="nav flex-column">
                <!--<li class="nav-item py-2 hover-sidebar">
                    <a class="nav-link text-white" href="http://127.0.0.1:8000/index">
                        <img src="/static/img/dashboard.png" alt="Logo" class="rounded mx-auto d-block"
                            style="max-width: 40px;">
                        สรุปยอด
                    </a>
                </li>
                -->
                <li class="nav-item py-2 hover-sidebar">
                    <a class="nav-link text-white" href="/mission">
                        <img src="/static/img/package.png" alt="Logo" class="rounded mx-auto d-block"
                            style="max-width: 40px;">
                        จัดการภารกิจ
                    </a>
                </li>
                <li class="nav-item py-2 hover-sidebar">

                    <a class="nav-link text-white" href="/unit">
                        <img src="/static/img/multiple-users-silhouette.png" alt="Logo" class="rounded mx-auto d-block"
                            style="max-width: 40px;">
                        จัดการกำลังพล
                    </a>
                </li>
            </ul>
        </div>

        <!-- Main Content -->
        <div class="col-md-11 p-4 ms-auto">
            <h5 class="text-center pb-4">จัดการภารกิจ</h5>
            <div class="d-flex justify-content-end mb-3">
                <button type="button" id="addMissionBtn" class="btn btn-success btn-sm" data-bs-toggle="modal"
                    data-bs-target="#missionAddModal">+ ภารกิจ</button>

                <button type="button" class="btn btn-warning text-white btn-sm ms-2" data-bs-toggle="modal"
                    data-bs-target="#exportMissionUnitModel">Export</button>

                <button type="button" id="filter-units" class="btn btn-secondary btn-sm ms-2" data-bs-toggle="modal"
                    data-bs-target="#filterModal">ตัวกรอง</button>
            </div>

            <table class="table table-bordered table-striped">
                <thead class="table-primery text-center">
                    <tr>
                        <th>#</th>
                        <th>ภารกิจ</th>
                        <th>วันที่เริ่มต้น</th>
                        <th>วันที่สิ้นสุด</th>
                        <th>สถานะ</th>
                    </tr>
                </thead>
                <tbody id="missionTableBody" class="text-center">
                    <!-- Rows will be dynamically inserted here -->
                </tbody>
            </table>

            <nav>
                <ul class="pagination justify-content-center" id="pagination">
                </ul>
            </nav>
        </div>

        <!-- exportMissionUnitModel -->
        <div class="modal fade" id="exportMissionUnitModel" tabindex="-1" aria-labelledby="exportMissionUnitModelLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" id="exportMissionUnitModelLabel">กรองรายงาน</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-12 mb-3">
                                            <div>
                                                <label for="filterDateStart">วันที่เริ่มต้น</label>
                                                <input type="date" class="form-control" id="filterDateStart">

                                            </div>
                                            <div>
                                                <label for="filterDateEnd">วันที่สิ้นสุด</label>
                                                <input type="date" class="form-control" id="filterDateEnd">

                                            </div>

                                            <div>
                                                <label for="filterMissionType">ประเภทภารกิจ</label>
                                                <input type="text" class="form-control" id="filterMissionType">

                                            </div>
                                            
                                            <div>
                                                <label for="filterStatus">สถานะ</label>
                                                <select class="form-select" id="filterStatus">
                                                    <option selected></option>
                                                    <option value="r">กำลังดำเนินการ</option>
                                                    <option value="w">รอดำเนินการ</option>
                                                    <option value="n">สิ้นสุด</option>

                                                </select>
                                            </div>

                                            <div>
                                                <label for="filterPositionDetail">ตำแหน่ง</label>
                                                <input type="text" class="form-control" id="filterPositionDetail">

                                            </div>

                                            <div>
                                                <label for="filterPosition">ยศ</label>
                                                <input type="text" class="form-control" id="filterPosition">
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-success text-white"
                            id="submit-export-mission-unit">ยืนยัน</button>
                    </div>
                </div>
            </div>

        </div>

        <!-- filter -->
        <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" id="filterModalLabel">กรองรายชื่อ</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-12 mb-3">
                                            <div>
                                                <label for="filterMissionName">ชื่อภารกิจ</label>
                                                <input type="text" class="form-control" id="filterMissionName">
                                            </div>
                                            <div>
                                                <label for="filterDateStart">วันที่เริ่มต้น</label>
                                                <input type="date" class="form-control" id="filterDateStart">

                                            </div>
                                            <div>
                                                <label for="filterDateEnd">วันที่สิ้นสุด</label>
                                                <input type="date" class="form-control" id="filterDateEnd">

                                            </div>

                                            <div>
                                                <label for="filterMissionType">ประเภทภารกิจ</label>
                                                <input type="text" class="form-control" id="filterMissionType">

                                            </div>
                                            
                                            <div>
                                                <label for="filterStatus">สถานะ</label>
                                                <select class="form-select" id="filterStatus">
                                                    <option selected></option>
                                                    <option value="r">กำลังดำเนินการ</option>
                                                    <option value="w">รอดำเนินการ</option>
                                                    <option value="n">สิ้นสุด</option>

                                                </select>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-success text-white"
                            id="submit-filter-mission">กรองข้อมูล</button>
                    </div>
                </div>
            </div>

        </div>

        <!-- detail -->
        <div class="modal fade" id="missionDetailModal" tabindex="-1" aria-labelledby="missionDetailModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="missionDetailModalLabel">รายละเอียดภารกิจ</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- <div class="input-group mb-3">
                                        <input type="file" class="form-control" id="units-image">
                                        <label class="input-group-text" id="upload-image-btn">อัพโหลดรูป</label>
                                    </div> -->
                                    <div class="row">
                                        <div class="col-12 mb-3">
                                            <div>
                                                <label for="missionDetailName"><strong>ชื่อภารกิจ : </strong></label>
                                                <input type="text" class="form-control" id="missionDetailName" readonly>
                                            </div>

                                            <div>
                                                <label for="missionDetailDateStart"><strong>วันที่เริ่มต้น
                                                        :</strong></label>
                                                <input type="text" class="form-control" id="missionDetailDateStart"
                                                    readonly>
                                            </div>

                                            <div>
                                                <label for="missionDetailDateEnd"><strong>วันที่สิ้นสุด
                                                        :</strong></label>
                                                <input type="text" class="form-control" id="missionDetailDateEnd"
                                                    readonly>
                                            </div>

                                            <div>
                                                <label for="missionDetail"><strong>รายละเอียดภารกิจ :</strong></label>
                                                <textarea rows="3" class="form-control" id="missionDetail"
                                                    readonly></textarea>
                                            </div>

                                            <div>
                                                <label for="missiontypeDetail"><strong>ประเภทภารกิจ :</strong></label>
                                                <input type="text" class="form-control" id="missiontypeDetail" readonly>
                                            </div>

                                            <div>
                                                <label for="missionStatusDetail"><strong>สถานะ :</strong></label>
                                                <input type="text" class="form-control" id="missionStatusDetail"
                                                    readonly>
                                            </div>

                                        </div>

                                    </div>

                                    <br>
                                    <hr>

                                    <div class="row">
                                        <h5>รายชื่อกำลังพลที่กำลังปฎิบัติภารกิจ:</h5>
                                        <table class="table text-center">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">ยศ</th>
                                                    <th scope="col">ชื่อ</th>
                                                    <th scope="col">นามสกุล</th>
                                                </tr>
                                            </thead>
                                            <tbody id="missionUnitTableBody">
                                                <!-- Rows will be dynamically inserted here -->

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning text-white" id="exportExcelMission">Export Excel</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                    </div>
                </div>
            </div>

        </div>

        <!-- edit -->
        <div class="modal fade" id="missionEditModal" tabindex="-1" aria-labelledby="missionEditModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="missionEditModalLabel">รายละเอียดภารกิจ</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-12 mb-3">
                                            <div>
                                                <label for="missionEditName"><strong>ชื่อภารกิจ : </strong></label>
                                                <input type="text" class="form-control" id="missionEditName">
                                            </div>

                                            <div>
                                                <label for="missionEditDateStart"><strong>วันที่เริ่มต้น
                                                        :</strong></label>
                                                <input type="date" class="form-control" id="missionEditDateStart">
                                            </div>

                                            <div>
                                                <label for="missionEditDateEnd"><strong>วันที่สิ้นสุด :</strong></label>
                                                <input type="date" class="form-control" id="missionEditDateEnd">
                                            </div>

                                            <div>
                                                <label for="missionDetailEdit"><strong>รายละเอียดภารกิจ
                                                        :</strong></label>
                                                <textarea rows="3" class="form-control"
                                                    id="missionDetailEdit"></textarea>
                                            </div>

                                            <div>
                                                <label for="missiontypeEdit"><strong>ประเภทภารกิจ :</strong></label>
                                                <input type="text" class="form-control" id="missiontypeEdit">
                                            </div>

                                            <div>
                                                <label for="missionStatusEdit"><strong>สถานะ :</strong></label>
                                                <input type="text" class="form-control" id="missionStatusEdit" readonly>
                                            </div>

                                        </div>

                                    </div>

                                    <br>
                                    <hr>

                                    <div class="row">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <h5>รายชื่อกำลังพลที่กำลังปฏิบัติภารกิจ:</h5>
                                            </div>
                                            <div class="col-6 text-end">
                                                <button class="btn btn-success" data-bs-target="#addUnitFromEditModel"
                                                    data-bs-toggle="modal" data-bs-dismiss="modal"> + </button>
                                            </div>
                                        </div>

                                        <table class="table text-center">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">ยศ</th>
                                                    <th scope="col">ชื่อ</th>
                                                    <th scope="col">นามสกุล</th>
                                                </tr>
                                            </thead>
                                            <tbody id="missionUnitEditTableBody">
                                                <!-- Rows will be dynamically inserted here -->

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                        <button type="button" class="btn btn-success" id="confirmEdit">ยืนยัน</button>

                    </div>
                </div>
            </div>

        </div>

        <!-- add -->
        <div class="modal fade" id="missionAddModal" tabindex="-1" aria-labelledby="missionAddModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="missionAddModalLabel">เพิ่มภารกิจ</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-12 mb-3">
                                            <div>
                                                <label for="missionAddName"><strong>ชื่อภารกิจ : </strong></label>
                                                <input type="text" class="form-control" id="missionAddName">
                                            </div>

                                            <div>
                                                <label for="missionAddDateStart"><strong>วันที่เริ่มต้น
                                                        :</strong></label>
                                                <input type="date" class="form-control" id="missionAddDateStart" required>
                                            </div>

                                            <div>
                                                <label for="missionAddDateEnd"><strong>วันที่สิ้นสุด :</strong></label>
                                                <input type="date" class="form-control" id="missionAddDateEnd" required>
                                            </div>

                                            <div>
                                                <label for="missionDetailAdd"><strong>รายละเอียดภารกิจ
                                                        :</strong></label>
                                                <textarea rows="3" class="form-control"
                                                    id="missionDetailAdd"></textarea>
                                            </div>

                                            <div>
                                                <label for="missiontypeAdd"><strong>ประเภทภารกิจ :</strong></label>
                                                <input type="text" class="form-control" id="missiontypeAdd">
                                            </div>

                                            <div>
                                                <label for="missionStatusAdd"><strong>สถานะ :</strong></label>
                                                <input type="text" class="form-control" id="missionStatusAdd"
                                                    placeholder="กำลังดำเนินการ" readonly>
                                            </div>

                                        </div>

                                    </div>

                                    <br>
                                    <hr>

                                    <div class="row">
                                        <div class="row align-items-center">
                                            <div class="col-6">
                                                <h5>รายชื่อกำลังพลที่กำลังปฏิบัติภารกิจ:</h5>
                                            </div>
                                            <div class="col-6 text-end">
                                                <button class="btn btn-success" data-bs-target="#addUnitFromAddModel"
                                                    data-bs-toggle="modal" data-bs-dismiss="modal" id="addUnitFromAddModel2"> + </button>
                                            </div>
                                        </div>

                                        <table class="table text-center">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">ยศ</th>
                                                    <th scope="col">ชื่อ</th>
                                                    <th scope="col">นามสกุล</th>
                                                </tr>
                                            </thead>
                                            <tbody id="missionUnitAddTableBody">
                                                <!-- Rows will be dynamically inserted here -->

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                        <button type="button" class="btn btn-success" id="addMissionNewUnits">เพิ่ม</button>
                    </div>
                </div>
            </div>

        </div>


        <!-- add units from edit -->
        <div class="modal fade" id="addUnitFromEditModel" aria-hidden="true" aria-labelledby="addUnitFromEditModelLebel"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">เพิ่มรายชื่อ</h5>
                        <button type="button" class="btn-close" data-bs-target="#missionEditModal"
                            data-bs-toggle="modal" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-2">
                            <div class="row mb-2">
                                <div class="col-12">
                                    <label for="filterPositionAddUnitModel">ยศ</label>
                                    <select class="form-select" id="filterPositionAddUnitModel">
                                        <option selected></option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label for="filterfirstNameAddUnitModel">ชื่อ</label>
                                    <input type="text" id="filterfirstNameAddUnitModel" class="form-control">
                                </div>
                                <div class="col-6">
                                    <label for="filterLastNameAddUnitModel">นามสกุล</label>
                                    <input type="text" id="filterLastNameAddUnitModel" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <button type="button" class="btn btn-primary"
                                    id="submitFilterAddUnitModel">ค้นหา</button>
                            </div>
                        </div>


                        <div style="max-height: 400px; overflow-y: auto; border: 1px solid #ddd;">
                            <table class="table text-center">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">ยศ</th>
                                        <th scope="col">ชื่อ</th>
                                        <th scope="col">นามสกุล</th>
                                    </tr>
                                </thead>
                                <tbody id="addUnitFromEditModelTableBody">
                                    <!-- Rows will be dynamically inserted here -->
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-bs-target="#missionEditModal" data-bs-toggle="modal"
                            data-bs-dismiss="modal">ยกเลิก</button>
                        <button class="btn btn-success" id="confirmAddUnitEdit">ยืนยัน</button>

                    </div>
                </div>
            </div>
        </div>

        <!-- add units from add -->
        <div class="modal fade" id="addUnitFromAddModel" aria-hidden="true" aria-labelledby="addUnitFromAddModelLebel"
            tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">เพิ่มรายชื่อ</h5>
                        <button type="button" class="btn-close" data-bs-target="#missionAddModal"
                            data-bs-toggle="modal" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-2">
                            <div class="row mb-2">
                                <div class="col-12">
                                    <label for="filterPositionAddUnitModelAdd">ยศ</label>
                                    <select class="form-select" id="filterPositionAddUnitModelAdd">
                                        <option selected></option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label for="filterfirstNameAddUnitModelAdd">ชื่อ</label>
                                    <input type="text" id="filterfirstNameAddUnitModelAdd" class="form-control">
                                </div>
                                <div class="col-6">
                                    <label for="filterLastNameAddUnitModelAdd">นามสกุล</label>
                                    <input type="text" id="filterLastNameAddUnitModelAdd" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <button type="button" class="btn btn-primary"
                                    id="submitFilterAddUnitModelAdd">ค้นหา</button>
                            </div>
                        </div>

                        <div style="max-height: 400px; overflow-y: auto; border: 1px solid #ddd;">
                            <table class="table text-center">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">ยศ</th>
                                        <th scope="col">ชื่อ</th>
                                        <th scope="col">นามสกุล</th>
                                    </tr>
                                </thead>
                                <tbody id="addUnitFromAddModelTableBody">
                                    <!-- Rows will be dynamically inserted here -->
    
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-bs-target="#missionAddModal" data-bs-toggle="modal"
                            data-bs-dismiss="modal">ยกเลิก</button>
                        <button class="btn btn-success" id="confirmAddUnitAdd">ยืนยัน</button>

                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="static/js/mission.js"></script>
</body>

</html>